.idea
*.pyc
*.pkl
.DS_Store
.tox
.python-version
python/.python-version
data/*/*.zip
data/*/simulation_results.csv

# ignore this whole folder
data/smoff_sweep_v2_test

# old R data
R/.Rproj.user
R/.RData
R/.Rhistory
data/Gemfile.lock
data/*/simulation_results.csv
data/*/*/data_point/
data/**/data_point.zip
data/.bundle
data/gems
.ipynb_checkpoints
/output
ROM_Framework.egg-info/
/build
/dist
docs/build

# do not commit right now
data/smoff_sweep_v2
