.idea
.Rproj.user
.RData
.Rhistory
*.pyc
*.pkl
python/.python-version
R/.Rproj.user
R/.RData
R/.Rhistory
results/Gemfile.lock
python/output/*/simulation_results.csv
python/output/*/models
results/**/data_point.zip
.ipynb_checkpoints
